
body {
    display: block;
    margin: 0;
    padding: 0;
}

.el-input {
    height: 45px;
}
.button_group{
    display: flex;
    justify-content: center;
}
.adminBg{
    background-color: #333;
    color:#ddd;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    li{
        height: 60px;
        a{
            color:white;
            display: flex;
            align-content: center;
            align-self: center;
        }
    }
  
}
.navMenu{
    list-style-type: none;
    display: flex;
    li{
        list-style-type: none;
        display: flex;
        margin: auto 10px;
        a{
           text-decoration:none; 
           cursor: pointer;
        }
    }
}
/*products*/
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto 10px;
        width: 200px;        
        .card{
            width: 100%;
            max-width: 100%;
            img{
                width: 100%;
                max-width: 100%;
            }
        }
    }
}
/*modal*/
.modal {
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0%;
    width: 100vw;
    margin-left: 0px;
    height: 100vh;
    background-color: #1610108a;
    .modal-main{
        width: 550px;
        background-color: white;
        margin: 100px auto;
        border-radius: 8px;
        padding: 25px;
        .modal-header{
            display: flex;
            justify-content: flex-end;
            i{
                display: flex;
            justify-content: flex-end;
            }
        }
    }
}
@media (width<=767px) {
   .modal {
        .modal-main{
            width: 90%;
            max-width: 90%;
            padding: 4%;
        }
   } 
}
@media (width<=360px) {
   .modal {
        .modal-main{
            width: 85%;
            max-width: 85%;
           
        }
   } 
}
.el-input__inner {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px;
    height: 35px;
}
.el-button {
    padding: 5px 15px;
}
.search_bar_group {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin: 15px auto;

    .el-input{
        margin-left: 20px;
    }
    .icon-search {
        position: absolute;
        right: 2%;
        line-height: 35px;
        font-size: 23px;
        color: cornflowerblue
    }
}
/*出勤管理*/
.checkWork_area {
    display: flex;
    flex-direction: column;
    width: 94%;
    max-width: 94%;
    margin: auto;

    .check_table_area {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        margin: auto;
        .table{
            th{
                background-color: #409eff;
                color:white;
            }
            th,td{
                padding: 10px;
            }
        }
    }

   
}

.check_table {
    border-collapse: collapse;

    th {
        border: 1px solid #ddd;
        height: 35px;
        padding: 8px;
        background-color: cornflowerblue;
    }

    td {
        background-color: #ffffff;
        width: 25vw;
        height: 32px;
        text-align: center;
        border: 1px solid #ddd;
    }
}

    .pagination {
        display: flex;
        justify-content: center;
        list-style-type:none;
        position: fixed;
        bottom: 3px;
        right: 50px;
        > li {
            &.disabled{
                color:#ddd;
            }
            display: flex;
            list-style-type:none;
            margin: auto 15px;
            &.active {
                a {
                    color: red;
                }
            }

        }
    }